
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>珍爱花边</title>

<link href="http://images.zastatic.com/zhenai3/zhenai2015/img/favicon.ico" type="image/x-icon" rel="icon" />
<link href="http://images.zastatic.com/zhenai3/zhenai2015/img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<link rel="stylesheet" href="css/public2.css" />
<link href="css/global.css" rel="stylesheet" media="screen">
<link href="css/button.css" rel="stylesheet" media="screen">
<link href="css/activity_menu.css" rel="stylesheet" type="text/css"/>

<script src="__PUBLIC__/news/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/news/js/sea.js"></script>
<script src="__PUBLIC__/news/js/lab.min.js"></script>
<script src="__PUBLIC__/news/js/fixcore.js"></script>
<script src="__PUBLIC__/news/js/global.js" charset="UTF-8"></script>
<script src="__PUBLIC__/news/js/jquery.artdialog.js"></script>
<script src="__PUBLIC__/news/js/iframetools.js" type="text/javascript"></script>
<script src="__PUBLIC__/news/js/za_dialog.js" type="text/javascript"></script>
<script src="__PUBLIC__/news/js/commonoption.js" type="text/javascript"></script>

<meta name="keywords" content=",情感门诊部,红娘,交友,征婚,婚介,婚恋,婚姻,单身,择偶,结婚"/>
<meta name="description" content="红娘专区，珍爱网,全球高成功率的华人征婚中心。征婚，婚介，婚恋，婚姻，单身，择偶，结婚" />
<link href="__PUBLIC__/news/css/toolbar_b09f3ea.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/news/css/public_comment_2.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/news/css/article.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/news/css/public_44e62d1.css"/>
<script src="__PUBLIC__/news/js/adv_player.js"></script>
<script src="__PUBLIC__/news/js/turnpage.js" type="text/javascript"></script>
<script src="__PUBLIC__/news/js/commonspecial.js"></script>

</head>
<body class="home">
   
<header id="jcZAHeader" class="header">
  <section class="frameW top-bar  clearfix">
  
      <a class="logo" href="http://www.zhenai.com" title="珍爱网">
      <i></i> 
    </a>
    <p class="ad-word ad-CCTV">相亲无难事，珍爱有红娘</p>
    <div class="tools">
      <ul class="clearfix">
        <li class="mobile"><a href="http://mo.zhenai.com" target="_blank" title="珍爱网app下载">手机版</a></li>
        <li class="collect"><a href="javascript:;">收藏本站</a></li>
        <li class="cust"><a href="javascript:;">在线客服</a></li>
        <li><a href="http://www.zhenai.com/anquan/" target="_blank" rel="nofollow">安全中心</a></li>
        <li class="tel">红娘热线：4001-520520</li>
      </ul>
    </div>
  </section>
  <section class="nav-bar">
    <div class="frameW clearfix">
      <menu class="menu">
        <ul>
          <li id="jcMenuBeauty" class="bg-scroll"></li>
          <li><a href="<{:U('Index/index')}>">我的珍爱</a></li>
          <li><a href="<{:U('Search/index')}>">搜索</a></li>
          <li><a href="<{:U('Brain/index')}>">
          珍爱花边</a></li>
          <li><a href="#" rel="nofollow">珍心会员</a></li>
          <li><a href="http://story.zhenai.com/" target="_blank" >成功故事</a></li>
          <li><a href="http://t.zhenai.com/hnzone/articleIndex.do" target="_blank" rel="nofollow">他她说</a></li>
        </ul>
      </menu>
      <div class="header-info user-info">
        <span class="topic"><em class="user-icon"></em></span>
        <ul>
                    <li><a href="http://profile.zhenai.com/v2/userdata/showInfo.do" rel="nofollow">编辑资料</a></li>
                    <li><a href="http://profile.zhenai.com/credit/creditIndex.jsps" rel="nofollow">诚信认证</a></li>
                    <li><a href="http://register.zhenai.com/personal/getmemberphotos.jsps" rel="nofollow">个人相册</a></li>
                    <li><a href="http://profile.zhenai.com/personal/returnStep.jsps" rel="nofollow">系统设置</a></li>
                    <li class="quit"><a href="http://album.zhenai.com/login/logout.jsps" rel="nofollow">退出</a></li>
                </ul>
      </div>
      <div class="header-info message-info" id="jcMessageInfo">
        <span class="topic"><em class="message-icon"></em></span>
        <ul>
          <li><a href="http://profile.zhenai.com/v2/mail/list.do" rel="nofollow">邮件</a></li>
          <li><a href="http://profile.zhenai.com/v2/msg/msgIndex.do" rel="nofollow">消息</a></li>
          <li><a href="http://profile.zhenai.com/v2/follow/index.do?type=1" rel="nofollow">关注</a></li>
          <li><a href="http://profile.zhenai.com/v2/visit/index.do" rel="nofollow">谁看过我</a></li>
          <li><a href="http://profile.zhenai.com/v2/notice/index.do" rel="nofollow">系统通知</a></li>
          <li><a href="http://profile.zhenai.com/v2/intercourse/intercourseIndex.do" rel="nofollow">交往对象</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>

  


<div class="w1200 main clearfix">
  <div class="side_left">
    <!---列表导航 新增于2016-02-18 他她说改版-->
    <div class="article_list_menu">
      <ul>
        <li class="on hot">
          <span class="line"></span>热门
        </li>
       
      </ul>
    </div>
    <!---列表导航-->
    <div class="article_list_section">
      <!--点击了右边的标签以后tag_title 才会显示出来-->
      
      <ul class="article_list">
 
        <?php foreach ($data as $value): ?>
          
        
          <li>
            <a class="clearfix li_link" href="<?php echo $value->url;?>" target="_blank">
              <span class="article_pic"><img src="<?php echo $value->picUrl;?>"/></span>
              <span class="article_info">
                <h3><?php echo $value->title;?></h3>
                <p class="list_opts">
                  <span><?php echo $value->ctime?></span>
                  
                  <span><?php echo $value->description;?></span>
                </p>
                <p class="desc">认识一个很能聊得来的女生，见面后就跟我借钱~</p>
              </span>
            </a>
        <?php endforeach ?>
          </li>
          
      </ul>
  
     </div>
   </div>
   <!--右侧样式 内容修改于  2016-02-19 他她说改版-->
  <div class="side_right">
    <div class="sidemod article_rec">
      <div class="sidemod_title">推荐好文<span class="line"></span></div>
      <ul class="article_rec_cont arct">
        
          <li><a href="javascript:;">1.2016单身人群现状报告，看看你是黄金单身族吗？</a></li>
        
          <li><a href="javascript:;">2.到底要找什么样的男人，婚姻才能长久幸福？</a></li>
        
          <li><a href="javascript:;">3.老婆非要买一件5万元的婚纱，我该怎样劝她放弃？</a></li>
        
          <li><a href="javascript:;">4.【话题】刚确定恋爱关系，对方就开口借钱，该不该给借？</a></li>
        
          <li><a href="javascript:;">5.月入十万的女生，还要跟男生结婚吗？</a></li>
        
      </ul>
    </div>
    <div class="sidemod article_tag">
      <div class="sidemod_title">热门标签<span class="line"></span></div>
      <div class="sidemod_content clearfix" id="hottags">
         
      </div>
    </div>
<div style="width:288;background:#fff" class="sidemod_title">
        <ul class="article_rec_cont arct">
        
          <li><a href="javascript:;">1.2016单身人群现状报告，看看你是黄金单身族吗？</a></li>
        
          <li><a href="javascript:;">2.到底要找什么样的男人，婚姻才能长久幸福？</a></li>
        
          <li><a href="javascript:;">3.老婆非要买一件5万元的婚纱，我该怎样劝她放弃？</a></li>
        
          <li><a href="javascript:;">4.【话题】刚确定恋爱关系，对方就开口借钱，该不该给借？</a></li>
        
          <li><a href="javascript:;">5.月入十万的女生，还要跟男生结婚吗？</a></li>
          <li><a href="javascript:;">3.老婆非要买一件5万元的婚纱，我该怎样劝她放弃？</a></li>
        
          <li><a href="javascript:;">4.【话题】刚确定恋爱关系，对方就开口借钱，该不该给借？</a></li>
        
          <li><a href="javascript:;">5.月入十万的女生，还要跟男生结婚吗？</a></li>
        
      </ul>

</div>

  </div>
</div>


  
  
  
<div class="hot-city">
  <div class="city-wrap frameW">
        <div class="city-list clearfix">
      城市：
             <a target="_blank" href="javascript:;">北京</a>
             <a target="_blank" href="javascript:;">上海</a>
             <a target="_blank" href="javascript:;">深圳</a>
             <a target="_blank" href="javascript:;">广州</a>
             <a target="_blank" href="javascript:;">无锡</a>
             <a target="_blank" href="javascript:;">苏州</a>
             <a target="_blank" href="javascript:;">温州</a>
             <a target="_blank" href="javascript:;">杭州</a>
             <a target="_blank" href="javascript:;">宁波</a>
             <a target="_blank" href="javascript:;">福州</a>
             <a target="_blank" href="javascript:;">厦门</a>
             <a target="_blank" href="javascript:;">济南</a>
             <a target="_blank" href="javascript:;">青岛</a>
             <a target="_blank" href="javascript:;">大连</a>
             <a target="_blank" href="javascript:;">沈阳</a>
             <a target="_blank" href="javascript:;">天津</a>
             <a target="_blank" href="javascript:;">郑州</a>
             <a target="_blank" href="javascript:;">合肥</a>
             <a target="_blank" href="javascript:;">武汉</a>
             <a target="_blank" href="javascript:;">长沙</a>
             <a target="_blank" href="javascript:;">重庆</a>
             <a target="_blank" href="javascript:;">成都</a>
             <a target="_blank" href="javascript:;">西安</a>
             <a target="_blank" href="javascript:;">昆明</a>
             <a target="_blank" href="javascript:;">南宁</a>
         </div>
  </div>
</div>

<footer class="footer">
    <div class="frameW clearfix">
        <div class="about">
            <div class="quick">
            <a href="javascript:;" >关于我们</a>|
            <a href="javascript:;" >媒体关注</a>|
            <a href="javascript:;" >联系我们</a>|
            <a href="javascript:;" >加入我们</a>|
            <a href="javascript:;" >合作伙伴</a>|
            <a href="javascript:;">意见反馈</a>|
            <a href="javascript:;" >网站地图</a>|
            <a href="javascript:;">帮助中心</a>|
            <a href="javascript:;">珍爱会员</a>|
            <a href="javascript:;" >珍爱相亲</a>
        </div>
            <div class="brand grayL"><span>品牌：11年专业婚恋服务</span>&nbsp;&nbsp;<span>专业：庞大的资深红娘队伍</span>&nbsp;&nbsp;<span>真实：诚信会员验证体系</span></div>
            <div class="contact grayL"><span>客服热线：4001-520-520（周一至周日：9:00-21:00）</span><span>客服信箱：kefu@zhenai.com（周一至周五：10:00-19:00）</span></div>
            <div class="contact grayL"><span><a style="color:#9f9f9f;" href="http://profile.zhenai.com/v2/sys/reportEntry.do" target="_blank" rel="nofollow">违法和不良信息举报</a></span>&nbsp;&nbsp;<span>违法和不良信息举报专线：4008829288</span>&nbsp;&nbsp;<span>举报信箱：<a style="color: #9f9f9f;" href="mailto:jubao@zhenai.com" class="underlines" rel="nofollow">jubao@zhenai.com</a></span></div>
        </div>
        <div class="copyright grayL">
          <p>Copyright &copy; 2005-2016 版权所有：深圳市珍爱网信息技术有限公司<br>增值电信业务经营许可证粤B2-20040382号 粤ICP备09157619</p>
          <div class="out-link">
              <a title="深圳网警备案" href="javascript:;" class="link2" rel="nofollow"></a>
              <a title="国际联网备案" href="javascript:;" class="link1" rel="nofollow"></a>
              <a title="深圳举报中心" href="javascript:;" class="link6" rel="nofollow"></a>
                <a title="违法和不良信息举报中心" href="javascript:;" class="link3" ></a>  
                <a title="诚信示范网站" href="javascript:;" class="link4" rel="nofollow"></a>
                <a title="AAA级信用企业" href="javascript:;" class="link7" rel="nofollow"></a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>